body{
	margin:0;
	padding:0;
	background-image: url(../img/fondologin.jpg);
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
.logimbox{
	width:320px;
	height:240px;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	position: center;
	transform: traslate(-50%,-50%);
	box-sizing:border-box;

}
.avg{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top: -50px;
	left:calc(50% - 50px):
}
